.root {
  display: flex;
  justify-content: center;
  gap: 10px;

  li {
    a {
      color: #fe5f1e;
      padding: 10px;
      width: 44px;
      height: 45px;
      text-align: center;
      border: 1px solid #fe5f1e;
      border-radius: 30px;
      cursor: pointer;
      display: inline-block;

      &:hover {
        background-color: #fe5f1e;
        color: #fff;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: #fe5f1e;
        color: #fff;
      }
    }
  }
}
